---
import '../components/global/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="- About Us" description="About Us Page" path={'/about-us'}>
  <h1>About Us</h1>
</Layout>
