---
import '../components/global/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="- About You" description="About You Page" path={'/about-you'}>
  <h1>About You</h1>
</Layout>
