---
import '../components/global/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="- Contact" description="Contact Page" path={'/contact'}>
  <h1>Contact</h1>
</Layout>
