---
import '../components/global/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="- Free Boxes" description="Free Boxes Page" path={'/free-boxes'}>
  <h1>Free Boxes</h1>
</Layout>
