---
import '../components/global/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="- Pricing" description="Pricing Page" path={'/pricing'}>
  <h1>Pricing</h1>
</Layout>
