---
import '../components/global/GlobalStyles.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="- Services" description="Services Page" path={'/services'}>
  <h1>Services</h1>
</Layout>
